<div class="row margin-class">
  <div class="col-8">
    <h4><span class="badge badge-primary"><i class="fa fa-music" aria-hidden="true"></i>&nbsp; One and only Maestro
      Ilaiyaraaja's Music Tracker By Sarathlal</span></h4>
  </div>
  <div class="col-4" style="text-align: center;" *ngIf="selectedSong">
    <h5><span class="badge badge-info">Song : {{selectedSong}}</span></h5>
  </div>
 
</div>
<div class="row margin-class">
  <div class="row col-5">
    <div class="col-6">
      <h5><span class="badge badge-secondary">Choose a Language</span></h5>
      <select name="selectedLanguage" id="language" class="form-control" [(ngModel)]="selectedLanguage" 
        (change)='onLanguageSelected()'>
        <option [value]="All">All ({{movies.length}})</option>
        <option *ngFor="let data of groupedLanguages | keyvalue" [value]="data.key">{{data.key}} ({{data.value}})
        </option>
      </select>
    </div>
    <div class="col-6">
      <h5><span class="badge badge-secondary">Choose a Director</span></h5>
      <select name="selectedDirector" id="director" class="form-control" [(ngModel)]="selectedDirector"
        (change)='onDirectorSelected()'>
        <option [value]="All">All ({{movies.length}})</option>
        <option *ngFor="let data of groupedDirectors | keyvalue" [value]="data.key">{{data.key}} ({{data.value}})
        </option>
      </select>
    </div>
    <div class="col-6">
      <h5><span class="badge badge-secondary">Choose an Year</span></h5>
      <select name="selectedYear" id="year" class="form-control" [(ngModel)]="selectedYear" (change)='onYearSelected()'>
        <option [value]="All">All ({{movies.length}})</option>
        <option *ngFor="let data of groupedYears | keyvalue" [value]="data.key">{{data.key}} ({{data.value}})</option>
      </select>
    </div>
  </div>

  <div class="row margin-class">
    <div class="col-8">
      <img width="350px" src="../assets/maestro.jpg" />
    </div>
    <div class="col-4">
      <div *ngIf="safeSrc">
        <iframe [src]="safeSrc" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen SameSite=None
          allowfullscreen allow="autoplay"></iframe>
      </div>
    </div>
  </div>
  <div class="col-8" *ngIf="selectedMovies">
    <h5><span class="badge badge-info">Selected Movies Count : {{selectedMovies.length}}</span></h5>
    <table class="table table-hover">
      <thead>
        <tr class="d-flex table-warning">
          <th class="col-2">Year</th>
          <th class="col-3">Film</th>
          <th class="col-3">Director</th>
          <th class="col-2">Language</th>
          <th class="col-2">Songs</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of selectedMovies" class="d-flex table-primary">
          <td class="col-2"> {{data.Year}}</td>
          <td class="col-3"> {{data.Film}} </td>
          <td class="col-3"> {{data.Director}} </td>
          <td class="col-2"> {{data.Language}} </td>
          <td class="col-2"> <button type="button" (click)="selectSongs(data.FilmID)"
              class="btn btn-success">Select</button> </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-4" style="text-align: center;" *ngIf="selectedSongs">
    <h5><span class="badge badge-info">Selected Movie : {{selectedMovie}} ({{selectedMovieLanguage}})</span></h5>
    <div >
      <img src="../assets/comingsoon.jpg" width="350px" *ngIf="selectedSongs && selectedSongs.length == 0"/>
    </div>
    <table class="table table-hover" *ngIf="selectedSongs && selectedSongs.length > 0">
      <thead>
        <tr class="d-flex table-warning">
          <th class="col-5">Song</th>
          <th class="col-4">Singers</th>
          <th class="col-3">Play</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of selectedSongs" class="d-flex table-primary">
          <td class="col-5"> {{data.Name}}</td>
          <td class="col-4"> {{data.Singers}} </td>
          <td class="col-3"> <button type="button" *ngIf="data.YoutubeLink" (click)="playYoutube(data.YoutubeLink,data.Name,data.Singers)"
              class="btn btn-info">Play</button> </td>
        </tr>
      </tbody>
    </table>
    
  </div>
</div>
<div class="row margin-class">
  <small> <b>Disclaimer : </b>The information in this site taken from various sources. We are not claiming 100% accuracy. All YouTube videos are just embedded in this site. We do not have any copyright on them, the credit is given to the respective YouTube video owners.</small>
</div>